.venv/
*.pyc
__pycache__/
.vscode
Модуль 1. Основы программирования/Проект. Игры разума/
.idea/
Модуль 2. Профессиональный Python/Проект. Вычислитель отличий/
Модуль 3. Бэкенд-разработка и сетевые запросы/Проект. Анализатор страниц
example
